<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <input type="text" name="URLLBC">
    <button type="submit">ok</button></br>
        <%= message %>
    
</body>

</html>